* {
  font-family: "Raleway";
  color: black;
}

h1 {
  font-size: 1.5rem;
}

#mapid {
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  height: 90vh;
  width: 85vw;
}

#streets {
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  border: 1px solid black;
  height: 90vh;
  width: 13vw;
  padding: 8px;
}

h2 {
  padding: 0 0 8px 5px;
  margin: 0 0 8px 0;
  border-bottom: 1px solid black;
}
