body {
  padding: 0px;
  margin: 3px;
  background-color: lightgrey;
}

h1 {
  background: grey;
  color: whitesmoke;
  border: 1px solid black;
  font-family: Verdana;
  font-size: 2em;
  text-align: center;
  border-radius: 8px;
  margin: 0 0 5px 0;
  padding: 5px;
  height: 5vh;
}

.content {
  height: calc(100vh - 5vh - 6px - 15px - 4px);
  border: 1px solid grey;
  border-radius: 8px;
  background: whitesmoke;
}
