* {
  padding: 0;
  margin: 5px;
  background: DarkOliveGreen;
  font-family: "Open Sans", sans-serif;
}

h1 {
  display: inline-block;
  color: darkolivegreen;
  background: DarkKhaki;
  padding: 8px 18px;
  border-radius: 12px;
}

button {
  margin: 0 0 0 12px;
  padding: 6px;
  background: darkkhaki;
  color: darkolivegreen;
  border: 1px solid darkolivegreen;
  border-radius: 11px;
  position: relative;
  bottom: 5px;
}

button:active {
  background: black;
  color: white;
}

table {
  border-collapse: collapse;
}

table,
td {
  color: white;
  border: 1px solid white;
  padding: 8px;
}

td:nth-child(1) {
  width: 18%;
}