<body>
  <head>
    <style>
      div {
        color: red;
        text-decoration: underline;
        cursor: pointer;
      }
    </style>
  </head>

  Klik
  <div>
    hier voor div target <br />
    <a href="#">en hier voor de a target</a>
  </div>
  <script>
    var eventstream = function() {
      //1 capture phase
      window.addEventListener(
        "click",
        function() {
          console.log("1: capture fase window");
        },
        true
      );
      //2 capture phase
      document.addEventListener(
        "click",
        function() {
          console.log("2: capture fase document");
        },
        true
      );
      //3 capture phase voor html element
      document.documentElement.addEventListener(
        "click",
        function() {
          console.log("3: capture fase html");
        },
        true
      );
      //4 capture phase
      document.body.addEventListener(
        "click",
        function() {
          console.log("4: capture fase body");
        },
        true
      );
      //5 capture phase
      document.querySelector("div").addEventListener(
        "click",
        function() {
          console.log("5: capture fase div");
        },
        true
      );
      //6 target phase occurs during capture phase
      document.querySelector("a").addEventListener(
        "click",
        function() {
          console.log("6: target fase a (capture phase ended before this)");
        },
        true
      );
      //7 target phase occurs during bubbling phase
      document.querySelector("a").addEventListener(
        "click",
        function() {
          console.log("7: target fase a");
        },
        false
      );
      //8 bubbling phase
      document.querySelector("div").addEventListener(
        "click",
        function() {
          console.log("8: bubbling fase div");
        },
        false
      );
      //9 bubbling phase
      document.body.addEventListener(
        "click",
        function() {
          console.log("9: bubbling fase body");
        },
        false
      );
      //10 bubbling phase
      document.documentElement.addEventListener(
        "click",
        function() {
          console.log("10: bubbling fase html");
        },
        false
      );
      //11 bubbling phase
      document.addEventListener(
        "click",
        function() {
          console.log("11: bubbling fase document");
        },
        false
      );
      //12 bubbling phase
      window.addEventListener(
        "click",
        function() {
          console.log("12: bubbling fase window");
        },
        false
      );
    };
    window.onload = eventstream;
  </script>
</body>
