* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

html {
  background: lightgray;
}
nav {
  padding: 15px;
  background: grey;
}
nav ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a :hover {
  padding: 0 0 5px 0;
  border-bottom: 1px solid white;
}

#user {
  border-radius: 25px;
  background: green;
  margin: 0 15px;
  padding: 8px 15px;
  color: white;
}

#user-info-container img {
  margin: 8px;
  border-radius: 50%;
}

.btns {
  float: right;
  margin: -12px;
  display: flex;
}

#sign-out-btn {
  box-sizing: border-box;
  display: inline-block;
  height: 36px;
  width: 70px;
  margin: 5px 0 0 0;
  background: white;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px;
}

#sign-out-btn:hover {
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.g-signin2 {
  margin: 5px;
}

.content {
  margin: 40px;
}
